@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #F26F21;
    --height-header: 112px;
}

html {
    font-size: 62.5%;
}

body {}

main {
    position: relative;
}

/* header */


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 1px 0px;
    background-color: #fff;
    z-index: 10;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header);

}

.header_logo {}

.header_nav {
    display: flex;
}

.nav_item {
    list-style: none;
    padding: 0 16px;
    margin: 0 8px;
}

.nav_item:first-child {
    text-align: end;
    display: none;
}

.closeIcon i {
    font-size: 2.4rem;
    padding: 12px;
}

.closeIcon {
    display: inline-block;
    cursor: pointer;
}

.nav_item:hover .nav_link {
    color: var(--primary-color);
}

.nav_link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #5D5D5D;
}

.nav_link.active {

    color: var(--primary-color);
}

.header_actions {}

.btn-register,
.btn-logIn {
    border: 2px solid #0066B2;
    color: #0066B2;
    background-color: transparent;
    font-size: 1.6rem;
    padding: 4px 8px;
    margin-left: 12px;
}

.btn-register:hover,
.btn-logIn:hover {
    background-color: #0066B2;
    color: #fff;
    cursor: pointer;
}

.btn-register {}

.header__menu-icon i {
    font-size: 2.6rem;
}

.header__menu-icon {
    padding: 4px;
    display: none;
    cursor: pointer;
}

/* banner */
.banner {
    padding-top: var(--height-header);
    margin-bottom: 64px;
}

.banner img {
    width: 100%;
}

/* product */
.product {}

.product_title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: .5px;
}

.product_card {
    margin-top: 52px;
    margin-bottom: 32px;
}

.product_image-wrapper {
    min-height: 296px;
    position: relative;
}

.product_image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.product_name {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 8px 0;
}

.product_desc {
    font-weight: 400;
    font-size: 1.8rem;
    color: #898989;
}

.product_price {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: 6px 0;
}

.prudct-btn-wrapper {
    display: flex;
    justify-content: center;
}

.product-viewMore {
    margin: 32px 6px 48px 6px;
    padding: 8px 22px;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all linear .3s;

}

.hide-away {
    display: none;
}

.product-viewMore:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
}

/* tricks */

.tricks {}

.tricks_title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: .5px;
}

.tricks_card {
    margin-top: 52px;
    margin-bottom: 32px;
}

.tricks_image {
    width: 100%;
}

.tricks_name {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 8px 0;
}

.tricks_desc {
    font-weight: 400;
    font-size: 1.8rem;
    color: #898989;
}



/* detail */
/* detail_product-wrapper */
.detail_product-wrapper {
    padding-top: var(--height-header);
    margin-top: 72px;
    margin-bottom: 80px;
}

.detail_product {}

.detail_product-title {
    font-weight: 900;
    font-size: 4rem;
    min-height: 122px;

}

.detail_product-price {
    font-weight: 900;
    font-size: 4rem;
    color: var(--primary-color);
    margin: 8px 0 26px 0;
}

.detail_product-desc {
    font-weight: 400;
    font-size: 1.8rem;
    min-height: 100px;
    color: #3d3d3d;
}

form {
    margin-top: 16px;
}

.form_group {}

.quantity {
    min-width: 160px;
    padding: 12px 16px;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    outline: none;
}

.btn_submit {
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid #111928;

    background-color: #111928 !important;
    color: #fff;
    padding: 12px 16px;

}


.detail_product-img {
    margin-bottom: 32px;
}

.detail_product-img img {
    width: 100%;
    max-height: 420px;
}

/* form_wrapper */

.form_wrapper {
    padding: var(--height-header) 20px 260px 20px;
    max-width: 920px;
    margin: 82px auto 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

}

.form_img {}


.form_title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #37A9CD;
}

.form_title.signUp {

    color: #F26F21;
}

.form_acc {}



.form_group-right {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.form_group-right label {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: #4A5568;
}

.form_group-right input {
    border: 1px solid #37A9CD;
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 6px;
}

.form_group-right.signUp input {
    border: 1px solid #F26F21;

}

.btn_register,
.btn_login {
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background-color: #37A9CD;
    display: block;
    width: 100%;
    padding: 14px 20px;
    transition: all linear .2s;

}

.btn_register {
    background-color: #F26F21;
    transition: all linear .2s;

}

.btn_register:hover {
    background-color: #37A9CD;
    transition: all linear .2s;

}

.btn_login:hover {
    transition: all linear .2s;
    background-color: #F26F21;
}



.btn_login-gg {
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background-color: #2D3748;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 20px;
    transition: all linear .2s;
    margin-top: 12px;
}

.btn_login-gg:hover {
    transition: all linear .2s;
    opacity: .8;
    color: #fff;

}

.btn_login-gg i {
    font-size: 28px;
    color: #ea4335;
    margin-right: 12px;

}

.form_options {}

.forgot_pass {
    color: #37A9CD;
    text-align: center;
    font-size: 1.4rem;
    display: block;
    transition: all linear .3s;
    font-weight: 400;
    margin: 30px 0 16px 0;
}



.options_register {
    text-align: center;
    color: #616161;
    font-size: 1.6rem;
    font-weight: 400;
}

.options_register a {
    color: #37A9CD;
    transition: all linear .3s;
    margin-left: 8px;
}

.forgot_pass:hover,
.options_register a:hover {
    text-decoration: underline;
    transition: all linear .3s;
}

/* category_wrapper */
.category_wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1230px;
    padding: 0 15px;
    gap: 32px;
}

.category_sideBar {
    grid-column: span 3;
}

.category_item-title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 32px;
}

.category_item-option {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 4px 20px;
}

.category_item-option:hover {
    color: #ea4335;
    transform: translateX(2px);
    transition: all linear .3s;
    cursor: pointer;
}

.category_item-option.active {
    color: #ea4335;

}


.category_content {
    grid-column: span 9;

}

.category_search-wrapper {
    border: 1px solid #CBD5E0;
    display: inline-flex;
    align-items: center;
    padding: 2px 12px;
    margin-bottom: 32px;
}

.category_search-wrapper i {
    font-size: 2.2rem;
    margin-right: 12px;
    color: #37A9CD;
}

.category_search-wrapper input {
    width: 400px;
    height: 36px;
    outline: none;
    font-size: 1.6rem;
}

.category_lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    min-height: 864px;
}